= form_for @wish, remote: request.xhr? do |f|
  - unless request.xhr?
    = render 'header'
  .row
    .span2= f.text_field :name
    .span2= f.number_field :amount
    .span2= f.number_field :need_amount
    .span1= f.select :currency_id, currency_select_map, { include_blank: false }
    .span3= f.date_select :final_date
    .span2= f.submit t('global.send'), class: 'btn btn-success'
