<h1>Пользователи</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= user.name %>
      <%= link_to "Профиль", user %>
      <% if current_user.admin? && !current_user.eql?(user) %>
        | <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"} %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>