<H1>Профиль пользователя</H1>
<h2><%= @user.name %></H2> 

<p>Email: <%= @user.email %></p>

<%= image_tag @user.avatar.url(:thumb), :class => "img-rounded" %>

<!--<% if !@user.portfolio %>-->

  <!--<%= link_to "Создать портфолио", portfolio_create_path, class: "btn btn-large btn-success" %>-->

<!--<% else %>-->

  <!--<%= link_to "Портфолио", portfolio_path, class: "btn btn-large btn-success" %>-->

<!--<% end %>-->
