= div_for(income, class: 'row') do
  .span2= income.date_in
  .span2= t(income.income_type, scope: 'activerecord.attributes.income.types')
  .span2= income.amount
  .span2= income.currency.name
  .span2.btn-group
    = link_to t('global.edit'), edit_income_path(income), class: 'btn btn-mini'
    = link_to t('global.destroy'), income, class: 'btn btn-mini', :method => :delete, :data => { :confirm => t('global.are_you_sure') }
