%h3= t('.loans_list')
.row
  .span2.pull-right= link_to t('.new_loan'), new_loan_path, class: 'btn btn-info btn-mini'

.loans.table.table-hover.table-condensed
  = render 'header'
  = render @loans

= paginate(@loans)

