%h3= t('.loans_list')
.row
  .span2.pull-right= link_to t('.new_loan'), new_loan_path, class: 'btn btn-info btn-mini'

- unless @loans.blank?
  %table.table.table-hover.table-condensed
    %tr
      %th= loan_column('category')
      %th= loan_column('amount')
      %th= loan_column('monthly_payment')
      %th= loan_column('date_payment')
      %th

    - @loans.each do |loan|
      %tr
        %td= loan.category
        %td= loan.amount
        %td= loan.monthly_payment
        %td= loan.date_payment
        %td
          .btn-group
            = link_to t('global.edit'), edit_loan_path(loan), class: 'btn btn-mini'
            = link_to t('global.destroy'), loan, class: 'btn btn-mini', :method => :delete, :data => { :confirm => t('global.are_you_sure') }

= paginate(@loans)

