%p#notice= notice

%p
  %b User:
  = @loan.user_id
%p
  %b Category:
  = @loan.category
%p
  %b Loan type:
  = @loan.loan_type
%p
  %b Amount:
  = @loan.amount
%p
  %b Term:
  = @loan.term
%p
  %b Issue date:
  = @loan.issue_date
%p
  %b Monthly payment:
  = @loan.monthly_payment
%p
  %b Rate:
  = @loan.rate
%p
  %b Date payment:
  = @loan.date_payment

= link_to 'Edit', edit_loan_path(@loan)
\|
= link_to 'Back', loans_path
