.row.header
  .span2= outcome_column('date_out')
  .span2= outcome_column('outcome_type')
  .span2= outcome_column('amount')
  .span2= outcome_column('currency')
  .span2= outcome_column('required')
  .span2