= div_for(outcome, class: 'row') do
  .span2= outcome.date_out
  .span2= t(outcome.outcome_type, scope: 'activerecord.attributes.outcome.types')
  .span2= outcome.amount
  .span2= outcome.currency.name
  .span2= outcome.required
  .span2.btn-group
    = link_to t('global.edit'), edit_outcome_path(outcome), class: 'btn btn-mini'
    = link_to t('global.destroy'), outcome, class: 'btn btn-mini', :method => :delete, :data => { :confirm => t('global.are_you_sure') }
